{% block content %}

<h1> Doktor ID: {{ doctor.id}} </h1>
<h2> MAIL Doktora:{{ doctor.email }}</h2>

<div>
    <div>
        <b>Imie: {{doctor.name }}</b><br />
        <b>Nazwisko: {{doctor.surname }} </b><br />
        <b>Adres: {{doctor.address}} </b><br />
        <b>Data urodzenia YYYY/MM/DD: {{doctor.born.year }}{{"-"}}{{doctor.born.month}}{{"-"}}{{doctor.born.day}}
        </b><br />
        <b>Niepełnosprawny: {{doctor.disability}} </b><br />
        <b>Numer tel: {{doctor.phone_num}} </b><br />
        <b>Specjalizacja: {{doctor.medical_specialization}} </b><br />

    </div>
    <hr>
    <a href="/doctors">Back to doctors</a>
</div>
{% endblock %}