{% block content %}

<h1> Pacjent ID: {{ patient.id}} </h1>
<h2> MAIL Pacjenta:{{ patient.email }}</h2>

<div>
    <div>
        <b>Imie: {{patient.name }}</b><br />
        <b>Nazwisko: {{patient.surname }} </b><br />
        <b>Adres: {{patient.address}} </b><br />
        <b>Data urodzenia YYYY/MM/DD: {{patient.born.year }}{{"-"}}{{patient.born.month}}{{"-"}}{{patient.born.day}}
        </b><br />
        <b>Niepełnosprawny: {{patient.disability}} </b><br />
        <b>Numer tel: {{patient.phone_num}} </b><br />
        <b>Pakiet medyczny: {{patient.medical_offer }} </b><br />

    </div>
    <hr>
    <a href="/patients">Back to patients</a>
</div>
{% endblock %}